/* stylesheet for piano */

body {
    margin: 0;
}

.piano {
    padding: 1rem;
}

.name {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.kind {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.card {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    border: solid 0.1rem black;
}

.box,
.white-key {
    height: 7rem;
}

.octave {
    display: flex;
    flex-wrap: nowrap;
}

.white-key {
    display: flex;
    align-items: end;
    width: 1.3rem;
    background-color: white;
    border-right: solid 0.1rem black;
}

.black-key {
    background-color: black;
    height: 4.4rem;
    width: 0.7rem;
    border: solid 0.15rem black;
    border-top: none;
    z-index: 10;
    margin-left: -0.5rem;
    margin-right: -0.45rem;
}

.black-key .number {
    margin-top: 2.9rem;
    margin-left: -0.3rem;
}

.last-key {
    border-right: none;
}

.play {
    background-color: #6d9cc8;
}

.number {
    background-color: white;
    border-radius: 50%;
    border: solid 0.1rem black;
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: 0.2rem;
    color: black;
    font-weight: bold;
    text-align: center;
}

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #1616e2;
}

.divider {
    margin-bottom: 2rem;
    border-bottom: solid 0.1rem black;
}

.notes {
    margin-top: 1rem;
    font-style: italic;
    font-size: 1.1rem;
}
